@import "tailwindcss";

@theme {
  /* Cores do seu Figma */
  --color-brand-purple: #A855F7;
  --color-brand-pink: #EC4899;
  --color-brand-blue: #00A3FF;

  /* Gradientes personalizados */
  --background-image-brand-gradient: linear-gradient(to right, #A855F7, #EC4899);
  --background-image-blue-gradient: linear-gradient(to bottom, #00A3FF, #0066FF);
}